<div class="navbar">
	<div class="navbar-wrap">
		<a href="#" class="logo">
			<img src="images/navbar/logo.svg" alt="Logotype">
		</a>
		<input type="search" class="search navbar__search" placeholder="Адрес доставки">
		<div class="navbar-button">
			<button type="button" class="button button-primary navbar__btn">
				<span class="button__icon"><img src="images/interface/button_user.svg" alt="user"></span>
				Войти
			</button>
			<button type="button" class="button button navbar__btn">
				<span class="button__icon"><img src="images/interface/button_basket.svg" alt="basket"></span>
				Корзина
			</button>
		</div>
	</div>
	<!-- /.navbar-wrap -->
</div>
<!-- /.navbar -->
